.members {
  border-collapse: collapse;
}

.members th {
  border-bottom: 1px solid;
}
.members td, .members th {
  border-left: 1px solid;
  padding: 5px 10px;
}
.members td:first-child, .members th:first-child {
  border-left: none;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

table{
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
 
}